<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ex2</title>
    <style>
        .target{
            background-color: rgba(255, 0, 0, 0.35);
            border-radius: 4px;
        }
    </style>
</head>
<body>
<ul>
    <th:block th:each="dto:${list}">
        <li th:text="${dto.sno % 5 ==0}?${dto.sno}:${dto.first}"></li>
    </th:block>
</ul>
<!-- if/unless -->
<ul>
    <li th:each="str, status : ${list}" >
        <span th:if="${status.odd}">ODD -- [[${str}]]</span>
        <span th:unless="${status.odd}">EVEN -- [[${str}]]</span>
    </li>
</ul>
<!--class 처리-->
    <ul>
        <li
            th:each="dto, state : ${list}"
            th:class="${dto.sno % 5 == 0}? 'target'"
            th:text="${dto}"
        >
        </li>
    </ul>
<!-- state -->
<ul>
    <li th:each="dto, state : ${list}" >
        [[${state.index}]] --- [[${dto}]]
    </li>
</ul>
</body>
</html>