<html>
<head>
    <title>Board</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            text-align: center;
            padding: 8px;
        }
        th {
            background-color: #f4f4f4;
        }
        tr:hover {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<th:block th:replace="~{layouts/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1>목록보기</h1>
        <a class="button" th:href="@{/todo/write}">새 글 쓰기→</a>
        <table>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성자</th>
                <th>완료</th>
                <th>기한</th>
            </tr>
            <tr th:each="item : ${tList}">
                <td>[[${item.tno}]]</td>
                <td><a th:href="@{/todo/read(tno=${item.tno})}">[[${item.title}]]</a></td>
                <td>[[${item.writer}]]</td>
                <td>[[${item.complete}?${"✅"}:${"❌"}]]</td>
                <td>[[${#temporals.format(item.dueDate, 'yyyy/MM/dd')}]]</td>
            </tr>
        </table>
    </th:block>
</th:block>

</body>
</html>
