<html>
<head>
    <title>Board</title>
    <style>
        .list {
            list-style-type: none;
            padding: 0;
        }
        .list li {
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        input[type="text"] {
            padding: 8px;
            border: 1px solid #f4f4f4;
        }
    </style>
</head>
<body>
<th:block th:replace="~{layouts/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1>조회</h1>
        <ul class="list">
            <li>게시글 번호: [[${todo.tno}]]</li>
            <li>제목: [[${todo.title}]]</li>
            <li>작성자: [[${todo.writer}]]</li>
            <li>완료: [[${todo.complete}?${"✅"}:${"❌"}]]</li>
            <li>기한: [[${#temporals.format(todo.dueDate, 'yyyy/MM/dd')}]]</li>
        </ul>
        <a th:href="@{/todo/list}">←목록으로 돌아가기</a>
        <a th:href="@{/todo/modify(tno=${todo.tno})}">수정하기→</a>
    </th:block>
</th:block>
</body>
</html>
