<html>
<head>
    <title>Write</title>
    <style>
        .list {
            list-style-type: none;
            padding: 0;
        }
        .list li {
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        input[type="text"] {
            padding: 8px;
            border: 1px solid #f4f4f4;
        }
    </style>
</head>
<body>
<th:block th:replace="~{layouts/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1>새로 생성</h1>
        <form th:action="@{/todo/write}" method="post">
            <ul class="list">
                <li>제목: <input type="text" name="title" /></li>
                <li>작성자: <input type="text" name="writer" /></li>
                <li>기한: <input type="date" name="dueDate" /></li>
                <li>완료: <input type="checkbox" name="complete" /></li>
            </ul>
            <a th:href="@{/todo/list}">취소</a>
            <input type="submit" value="추가">
        </form>
    </th:block>
</th:block>
</body>
</html>